@import url('https://use.typekit.net/etd7eyb.css');

body {
  font-size: 10px;
}

html {
  font-size: 1.6rem;
}

.Prose {
  font-size: 1.6rem !important;
  max-width: initial !important;
}

.Tree-collectionLabel, .Tree-item, .Tree-title {
  font-size: 1.2rem !important;
}