<div class="section--bg-prim-blue">
  <section class="services">
    <hgroup class="services__title">
      <h4 class="headline">Services</h4>
    </hgroup>

    <article class="service" data-id="one">
      <div class="service__text-content">
        <div class="service__enumerator">01 / 03</div>
        <h4 class="service__heading"><a href="#">Marketing, Creative, & XD
            Talent</a></h4>
        <p class="service__text">Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Quo iusto error explicabo!</p>
      </div>

      <div class="service__images">
        <picture class="service__images-large">
          <img
            src="https://via.placeholder.com/375x515"
            alt=""
            s
            role="presentation"
          />
        </picture>
        <picture class="service__images-medium">
          <img
            src="https://via.placeholder.com/180x247"
            alt=""
            role="presentation"
          />
        </picture>
      </div>
    </article><!-- end service data-id="one"-->

    <article class="service" data-id="two">
      <div class="service__text-content">
        <div class="service__enumerator">02 / 03</div>
        <h4 class="service__heading"><a href="#">Studio Services</a></h4>
        <p class="service__text">Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Quo iusto error explicabo!</p>
      </div>

      <div class="service__images">
        <picture class="service__images-large">
          <img
            src="https://via.placeholder.com/375x515"
            alt=""
            s
            role="presentation"
          />
        </picture>
        <picture class="service__images-medium">
          <img
            src="https://via.placeholder.com/180x247"
            alt=""
            role="presentation"
          />
        </picture>
        <picture class="service__images-small">
          <img
            src="https://via.placeholder.com/140x192"
            alt=""
            role="presentation"
          />
        </picture>
      </div>
    </article><!-- end service data-id="two"-->
    <article class="service" data-id="three">
      <div class="service__text-content">
        <div class="service__enumerator">03 / 03</div>
        <h4 class="service__heading"><a href="#">Employer of Record</a></h4>
        <p class="service__text">Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Quo iusto error explicabo!</p>
      </div>

      <div class="service__images">
        <picture class="service__images-large">
          <img
            src="https://via.placeholder.com/375x515"
            alt=""
            s
            role="presentation"
          />
        </picture>
        <picture class="service__images-medium">
          <img
            src="https://via.placeholder.com/180x247"
            alt=""
            role="presentation"
          />
        </picture>
        <picture class="service__images-small">
          <img
            src="https://via.placeholder.com/140x192"
            alt=""
            role="presentation"
          />
        </picture>
      </div>
    </article><!-- end service data-id="three"-->
  </section><!-- end services -->
</div><!-- end section--bg-prim-blue -->