<div class="section--bg-white">
  <div class="section__inner">
    <h2 class="section-heading">Big Section Storytelling Headline</h2>

    <h2 class="section-heading--underline">Underlined Section Title Headline</h2>
  </div>
</div>

<div class="section--bg-prim-blue">
  <div class="section__inner">
    <h2 class="section-heading">Big Section Storytelling Headline</h2>

    <h2 class="section-heading--underline">Underlined Section Title Headline</h2>
  </div>
</div>