<div class="hero-textonly__section section--bg-prim-blue">
  <section class="hero-textonly">
    <div class="hero-textonly__title">
      <h1 class="h1--page-titles headline">Blog</h1>
    </div><!-- .hero-textonly__title -->
  </section>
</div>