<div class="hero-img-contained__section section--bg-prim-blue">
  <section class="hero-img-contained">
    <div class="hero-img-contained__title">
      <h1 class="h1--page-titles headline">Direct Hire</h1>
    </div><!-- .hero-img-contained__title -->

    <div class="hero-img-contained__images">
      <img
        src="{{path "/img/FPO-1-1-566.png"}}"
        alt="FPO-1-1"
        class="hero-img-contained__images-1"
        aria-role="presentation"
      />
      <img
        src="{{path "/img/FPO-4-3-218-299.png"}}"
        alt="FPO-1-1"
        class="hero-img-contained__images-2"
        aria-role="presentation"
      />
      <img
        src="{{path "/img/FPO-4-3-170-233.png"}}"
        alt="FPO-1-1"
        class="hero-img-contained__images-3"
        aria-role="presentation"
      />
    </div><!-- .hero-img-contained__images -->
  </section>
</div>