

<p class="p--body">Para Body: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="p--body-emphasis">Para Body Emphasis: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="p--body-quote">Para Body Quote: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="p--body-small">Para Body Small: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="p--body-small-emphasis">Para Body Small Emphasis: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="p--body-extra-small">Para Body Extra Small: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="p--body-extra-small-emphasis">Para Body Small Extra Emphasis: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
