body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-items: center;
  background-color: #e5e5e5;
}

.yield {
  margin: auto;
  max-width: 90%;
  min-width: 600px;
}

.demo-section{
  padding: 2rem;
}

.demo-col {
  display: inline-block;
  margin-right: 2rem;
  width: 30rem;
}
