<div class="section--bg-white">
    <div id="blog-feed" class="blog-feed">

        <a href="#" class="content-block--clickable blog-content">
            <div class="grid-col-content__two featured">
                <div class="content-block">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/545/747"
                        role="presentation" alt="" /> <!-- portrait -->
                </div><!-- .content-block blog image -->

                <div class="content-block">
                    <h1 class="content-block__title anchor-primary">
                        4 ways to keep your talent during the Turnover Tsunami.
                    </h1>

                    <div class="blog-author-date">
                        <label for="source" class="content-block__author">By Susie Hall</label>
                        <time class="content-block__date-blog" datetime="2021-06-10"><span
                                class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                    </div>

                    <p class="content-block__text-blog">Employees are quitting their jobs in record numbers. Here’s what
                        you can do to keep your team!
                    </p>
                    <div class="blog-tags">
                        <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy, Skill
                            Development</p>
                    </div>
                </div><!-- .content-block -->
            </div> <!-- blog-featured -->
        </a><!-- .content-block--clickable  -->

        <div class="grid-col-content__two">

            <div class="blog-content">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <img class="content-block__image" src="https://www.fillmurray.com/g/525/393"
                            role="presentation" alt="" /> <!-- landscape -->
                    </div><!-- .content-block__col blog image -->

                    <div class="content-block">
                        <div class="blog-author-date">
                            <label for="source" class="content-block__author">By Susie Hall</label>
                            <time class="content-block__date-blog" datetime="2021-06-10"><span
                                    class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                        </div>
                        <h4 class="content-block__title anchor-primary">
                            Fix your talent cycle or lose your talent.
                        </h4>
                        <p class="content-block__text-blog">The talent cycle is broken, and fixing it absolutely must be
                            a top priority for leaders.</p>
                        <div class="blog-tags">
                            <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                Skill Development</p>
                        </div>
                    </div><!-- .content-block -->
                </a>
            </div>


            <div class="blog-content">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <div class="content-block">
                            <img class="content-block__image" src="https://www.fillmurray.com/g/545/747"
                                role="presentation" alt="" /> <!-- portrait -->
                        </div><!-- .content-block__col blog image -->

                        <div class="content-block">
                            <div class="blog-author-date">
                                <label for="source" class="content-block__author">By Susie Hall</label>
                                <time class="content-block__date-blog" datetime="2021-06-10"><span
                                        class="content-block__date-month-day-year"
                                        aria-label="June">06.02.21</span></time>
                            </div>
                            <h4 class="content-block__title anchor-primary">
                                What every creative team needs to be successful.
                            </h4>
                            <p class="content-block__text-blog">Learn how the role of the Creative Operations leader
                                creates success for an in-house design team.</p>
                            <div class="blog-tags">
                                <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                    Skill Development</p>
                            </div>
                        </div><!-- .content-block -->

                    </div>
                </a><!-- .content-block--clickable -->
            </div><!-- .blog-content -->

        </div> <!-- .two-col-content -->


        <div class="grid-col-content__three">

            <div class="blog-content">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <img class="content-block__image" src="https://www.fillmurray.com/g/268/160"
                            role="presentation" alt="" /> <!-- landscape 2 -->
                    </div><!-- .content-block__col blog image -->

                    <div class="content-block">
                        <div class="blog-author-date">
                            <label for="source" class="content-block__author">By Susie Hall</label>
                            <time class="content-block__date-blog" datetime="2021-06-10"><span
                                    class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                        </div>
                        <h6 class="content-block__title anchor-primary">
                            Change the rules, save the day.
                        </h6>
                        <p class="content-block__text-blog">Contingent labor programs that treat suppliers as untrustworthy
                            enemies ultimately fail.</p>
                        <div class="blog-tags">
                            <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                Skill Development</p>
                        </div>
                    </div><!-- .content-block -->

                </a><!-- .content-block--clickable -->
            </div><!-- .blog-content -->

            <div class="blog-content">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <img class="content-block__image" src="https://www.fillmurray.com/g/268/392"
                            role="presentation" alt="" /> <!-- portrait 2 -->
                    </div><!-- .content-block__col blog image -->

                    <div class="content-block">
                        <div class="blog-author-date">
                            <label for="source" class="content-block__author">By Susie Hall</label>
                            <time class="content-block__date-blog" datetime="2021-06-10"><span
                                    class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                        </div>
                        <h6 class="content-block__title anchor-primary">
                            Stop calling it “Return to Work.”
                        </h6>
                        <p class="content-block__text-blog">As many start to “return to work,” the concept itself needs to
                            change.</p>
                        <div class="blog-tags">
                            <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                Skill Development</p>
                        </div>
                    </div><!-- .content-block -->

                </a><!-- .content-block--clickable -->
            </div><!-- .blog-content -->

            <div class="blog-content">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <img class="content-block__image" src="https://www.fillmurray.com/g/268/160"
                            role="presentation" alt="" /> <!-- landscape 2 -->
                    </div><!-- .content-block__col blog image -->

                    <div class="content-block">
                        <div class="blog-author-date">
                            <label for="source" class="content-block__author">By Susie Hall</label>
                            <time class="content-block__date-blog" datetime="2021-06-10"><span
                                    class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                        </div>
                        <h6 class="content-block__title anchor-primary">
                            If your team isn’t learning, they’re falling behind. Fix it.
                        </h6>
                        <p class="content-block__text-blog">Our InsideOut Design Leader Community gathered to figure out how
                            to engage employees in crafting learning plans.</p>
                        <div class="blog-tags">
                            <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                Skill Development</p>
                        </div>
                    </div><!-- .content-block -->

                </a><!-- .content-block--clickable -->
            </div><!-- .blog-content -->

        </div> <!-- .three-col-content -->


        <div class="grid-col-content__two">

            <div class="blog-content">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <img class="content-block__image" src="https://www.fillmurray.com/g/525/393"
                            role="presentation" alt="" /> <!-- landscape -->
                    </div><!-- .content-block__col blog image -->

                    <div class="content-block">
                        <div class="blog-author-date">
                            <label for="source" class="content-block__author">By Susie Hall</label>
                            <time class="content-block__date-blog" datetime="2021-06-10"><span
                                    class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                        </div>
                        <h4 class="content-block__title anchor-primary">
                            Fix your talent cycle or lose your talent.
                        </h4>
                        <p class="content-block__text-blog">The talent cycle is broken, and fixing it absolutely must be
                            a top priority for leaders.</p>
                        <div class="blog-tags">
                            <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                Skill Development</p>
                        </div>
                    </div><!-- .content-block -->
                </a>
            </div>


            <div class="blog-content--flip">
                <a href="#" class="content-block--clickable">
                    <div class="content-block">
                        <div class="content-block">
                            <img class="content-block__image" src="https://www.fillmurray.com/g/545/747"
                                role="presentation" alt="" /> <!-- portrait -->
                        </div><!-- .content-block__col blog image -->

                        <div class="content-block">
                            <div class="blog-author-date">
                                <label for="source" class="content-block__author">By Susie Hall</label>
                                <time class="content-block__date-blog" datetime="2021-06-10"><span
                                        class="content-block__date-month-day-year"
                                        aria-label="June">06.02.21</span></time>
                            </div>
                            <h4 class="content-block__title anchor-primary">
                                What every creative team needs to be successful.
                            </h4>
                            <p class="content-block__text-blog">Learn how the role of the Creative Operations leader
                                creates success for an in-house design team.</p>
                            <div class="blog-tags">
                                <p class="content-block__text-blog-tag">Career Development, Experience Design, Strategy,
                                    Skill Development</p>
                            </div>
                        </div><!-- .content-block -->

                    </div>
                </a><!-- .content-block--clickable -->
            </div><!-- .blog-content -->

        </div> <!-- .two-col-content -->
    </div><!-- .blog-feed -->
</div><!-- .section--bg-white -->
