<footer>
  <div class="section--bg-prim-blue vt-footer">
    <nav class="footer__content">
      <div class="footer__nav">
        <a class="footer__logo" href="/" title="Vitamin T">
          <img src="/img/Vitamin_T_Primary_Wordmark_RGB_Reverse.svg" />
        </a>
        <a
          href="https://my.aquent.com/mat/myaquent?PROC=AWUIDrawMatLogin&amp;locale=en_US"
          class="button--medium-primary-flex-mobile footer__button"
          title="Login"
        >Login</a>
        <a
          href="/find-work/"
          class="button--medium-primary-flex-mobile footer__button"
          title="Find Opportunities"
        >Find Opportunities</a>
      </div><!-- .footer__nav -->

      <hr class="footer__divider" />

      <div class="footer__main-nav">
        <div class="footer__main-nav__col">
          <h4 class="tertiary-info footer__title">Who We Are</h4>
          <p class="p--body-small footer__intro-copy">From the beginning, we’ve
            believed that change doesn’t happen without leadership. That’s why
            we keep on forging new, innovative pathways in the industry we
            helped transform.</p>
          <a
            href="/about-us/"
            title="Get To Know Us"
            class="anchor--secondary"
          ><span class="p--body-small">Get To Know Us</span></a>
        </div><!-- .footer__main-nav__col -->

        <div class="footer__main-nav__col">
          <h4 class="tertiary-info footer__title">Affiliated Sites</h4>
          <ul class="footer__ul">
            <li class="footer__li"><a
                href="https://aquent.com/"
                target="_blank"
                title="Aquent"
                class="anchor--secondary"
              ><span class="p--body-small">Aquent</span></a></li>
            <li class="footer__li"><a
                href="https://aquentstudios.com/"
                target="_blank"
                title="Aquent Studios"
                class="anchor--secondary"
              ><span class="p--body-small">Aquent Studios</span></a></li>
            <li class="footer__li"><a
                href="https://thegymnasium.com/"
                target="_blank"
                title="Gymnasium"
                class="anchor--secondary"
              ><span class="p--body-small>">Gymnasium</span></a></li>
            <li class="footer__li"><a
                href="https://www.robohead.net/"
                target="_blank"
                title="RoboHead"
                class="anchor--secondary"
              ><span class="p--body-small">RoboHead</span></a></li>
            <li class="footer__li"><a
                href="https://www.goscoutgo.com/"
                target="_blank"
                title="Scout"
                class="anchor--secondary"
              ><span class="p--body-small">Scout</span></a></li>
          </ul>
        </div><!-- .footer__main-nav__col -->

        <div class="footer__main-nav__col">
          <h4 class="tertiary-info footer__title">Support</h4>
          <ul class="footer__ul">
            <li class="footer__li">
              <span class="p--body-small footer__support-label">Call Us:</span>
              <a
                title="Call us:"
                href="tel:+16175355000"
                class="anchor--secondary"
              ><span class="p--body-small">(617) 535-5000</span></a>
            </li>
            <li class="footer__li"><a
                title="Email"
                href="mailto:questions@aquent.com"
                class="anchor--secondary"
              ><span
                  class="p--body-small"
                >questions@vitamintalent.com</span></a></li>
            <li class="footer__li footer__space-separated"><span
                class="tertiary-info--small"
              >Employment Verification</span></li>
            <li class="footer__li">
              <span class="p--body-small footer__support-label">Fax:</span>
              <a href="fax:+16175007287" class="anchor--secondary"><span
                  class="p--body-small"
                >(617) 500-7287</span></a>
            </li>
            <li class="footer__li">
              <span class="p--body-small footer__support-label">Phone:</span>
              <a href="fax:+16175007287" class="anchor--secondary"><span
                  class="p--body-small"
                >(617) 500-7287</span></a>
            </li>
          </ul>
        </div><!-- .footer__main-nav__col -->
      </div><!-- .footer__main-nav -->
    </nav><!-- .footer__content -->
  </div><!-- .vt-footer -->

  <div class="section--bg-sec-blue">
    <a class="show-for-sr show-on-focus" href="#top-nav">Skip To Nav</a>
    <a class="show-for-sr show-on-focus" href="#content">Skip To Content</a>
    <div class="footer__content footer__bottom-nav">
      <div class="p--body-extra-small site-trademark">
        &copy; 2021 Aquent LLC. Vitamin T is a registered trademark of Aquent
        LLC.
      </div>

      <nav class="footer__social">
        <a
          href="https://www.linkedin.com/company/aquent"
          title="LinkedIn"
          class="social-icon--linkedin"
          target="_blank"
        ><span class="show-for-sr">LinkedIn</span></a>
        <a
          href="https://twitter.com/Vitamin T"
          title="Twitter"
          class="social-icon--twitter"
          target="_blank"
        ><span class="show-for-sr">Twitter</span></a>
        <a
          href="https://www.linkedin.com/company/aquent"
          title="LinkedIn"
          class="social-icon--instagram"
          target="_blank"
        ><span class="show-for-sr">Instagram</span></a>
        <a
          href="https://www.facebook.com/aquent/"
          title="Facebook"
          class="social-icon--facebook"
          target="_blank"
        ><span class="show-for-sr">Facebook</span></a>
      </nav><!-- .footer__social -->
    </div><!-- .footer__content.footer__bottom-nav -->
  </div><!-- .section--bg-sec-blue -->
</footer>