<nav
  id="top-nav"
  class="top-nav group no-utility-banner has-snap-panel section--bg-prim-blue"
  tabindex="0"
>

  <div class="grid-container top-menu">
    <div class="site-title">
      <a class="logo" href="/" title="Aquent"><img
          src="/img/Vitamin-T-Logo.svg"
        /></a>
    </div>

    <div class="grid-container navbar" id="navbar">
      <details>
        <summary class="tertiary-info--large">
          <span class="menuitem">
            <i class="arrow--before"></i>Talents<i class="arrow--after"></i>
          </span>
        </summary>
        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="dropdown-menu-main" role="menubar">
            <li class="heading" role="none"><span
                class="p--body-emphasis"
              >Employment</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Why work with us"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Why work with us</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Talent Benefits"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Talent Benefits</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Training"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Training</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="FAQs"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">FAQs</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="MyAquent Talent"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">MyAquent Talent</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Explore Jobs"
                role="menuitem"
                class="button--small-primary"
              >Explore Jobs</a></li>
          </ul>
          <ul class="dropdown-menu-sub">
            <li class="heading" role="none"><span
                class="p--body-emphasis"
              >Resource</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Blog"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Blog</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Reports"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Reports</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Check Salary"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Check Salary</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Events"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Events</span></a></li>
          </ul>
        </div>
      </details>

      <details>
        <summary class="tertiary-info--large">
          <span class="menuitem">
            <i class="arrow--before"></i>Problems we solve<i
              class="arrow--after"
            ></i>
          </span>
        </summary>
        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="dropdown-menu-main" role="menubar">
            <li class="heading" role="none"><span
                class="p--body-emphasis"
              >Services</span></li>
            <li class="sub-heading" role="none"><span
                class="tertiary-info"
              >Marketing, creative &amp; experience design</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Staffing &amp; Recruiting"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Staffing &amp; Recruiting</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Managed Talent"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Managed Talent</span></a></li>
            <li class="sub-heading" role="none"><span
                class="tertiary-info"
              >Workforce</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Recruitment Marketplace"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Recruitment Marketplace</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Employer of Record"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Employer of Record</span></a></li>
            <li class="sub-heading" role="none"><span
                class="tertiary-info"
              >Professional Development</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Team Readiness"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Team Readiness</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Request Talent"
                role="menuitem"
                class="button--small-primary"
              >Request Talent</a></li>
          </ul>
          <ul class="dropdown-menu-sub">
            <li class="heading" role="none"><span
                class="p--body-emphasis"
              >Resource</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Blog"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Blog</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Reports"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Reports</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Check Salary"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Check Salary</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Events"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Events</span></a></li>
          </ul>
        </div>
      </details>
      <details>
        <summary class="tertiary-info--large">
          <span class="menuitem">
            <i class="arrow--before"></i>Tech we deliver<i
              class="arrow--after"
            ></i>
          </span>
        </summary>
        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="dropdown-menu-main" role="menubar">
            <li class="sub-heading" role="none"><span
                class="tertiary-info"
              >Software</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Recruitment Marketplace"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Recruitment Marketplace</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Project Management Software"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Project Management Software</span></a></li>
            <li class="sub-heading" role="none"><span
                class="tertiary-info"
              >Workforce</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Recruitment Marketplace"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Recruitment Marketplace</span></a></li>
            <li class="sub-heading" role="none"><span
                class="tertiary-info"
              >Tools</span></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Persona"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Persona</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Book"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Book</span></a></li>
          </ul>
        </div>
      </details>
      <details><summary class="tertiary-info--large">
          <span class="menuitem">
            <i class="arrow--before"></i>Who we are<i class="arrow--after"></i>
          </span>
        </summary>
        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="dropdown-menu-main" role="menubar">
            <li class="submenu-item" role="none"><a
                href="#"
                title="About"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">About</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Our People"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Our People</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Client Stories"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Client Stories</span></a></li>
            <li class="submenu-item" role="none"><a
                href="#"
                title="Communities"
                role="menuitem"
                class="anchor--primary"
              ><span class="p--body-small">Communities</span></a></li>
          </ul>
        </div>
      </details>
      <a
        href="#"
        title="Contact Us"
        role="menuitem"
        class="button--small-primary"
      >Contact Us</a>
    </div>
    <div
      class="menu-toggle inactive"
      id="menu-toggle"
      data-aria-label-open="Open menu"
      data-aria-label-close="Close Menu"
      aria-label="Open menu"
    >
      <a class="" href="#navbar" id="open-menu">
        <span class="show-for-sr">Open Menu</span>
      </a>
      <a class="" href="#" id="close-menu">
        <span class="show-for-sr">Close Menu</span>
      </a>
    </div>
  </div>
</nav>