<nav
  aria-label="Main Navigation"
  id="widescreen-menu"
  class="widescreen-menu show-for-large"
  role="menu"
>
  <div class="grid-container">
    <ul
      id="dropdown-menu"
      class="menu menu-center dropdown"
      role="menubar"
      data-dropdown-menu="vvvfth-dropdown-menu"
    >
      <li
        class="top-level-item is-dropdown-submenu-parent opens-right"
        role="none"
        aria-haspopup="true"
        aria-label="Services"
        data-is-click="false"
      >
        <a
          title="Services"
          class="Text"
          tabindex="0"
          role="menuitem"
        >Services</a>
        <ul
          class="is-dropdown-submenu submenu first-sub vertical"
          data-submenu=""
          role="menubar"
          style=""
        >
          <li
            class="subheading-parent is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><span class="subheading">Workforce Services</span></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/extended-workforce"
              title="Overview"
              role="menuitem"
            >Overview</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/scout"
              title="Recruitment Marketplace"
              role="menuitem"
            >Recruitment Marketplace</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/square-deal/"
              title="Employer of Record"
              role="menuitem"
            >Employer of Record</a></li>
          <li
            class="subheading-parent is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><span class="subheading">Marketing, Creative &amp; Experience Design</span></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/"
              title="Staffing &amp; Recruiting Services"
              role="menuitem"
            >Staffing &amp; Recruiting Services</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/studio-services"
              title="Studio Services"
              role="menuitem"
            >Studio Services</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/project-management-software"
              title="Project Management Software"
              role="menuitem"
            >Project Management Software</a></li>
          <li
            class="subheading-parent is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><span class="subheading">Professional Development</span></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/team-readiness"
              title="Team Readiness"
              role="menuitem"
            >Team Readiness</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/gymnasium"
              title="Gymnasium"
              role="menuitem"
            >Gymnasium</a></li>
        </ul>
      </li>
      <li
        class="top-level-item is-dropdown-submenu-parent opens-right"
        role="none"
        aria-haspopup="true"
        aria-label="Talent"
        data-is-click="false"
      >
        <a title="Talent" class="Text" tabindex="0" role="menuitem">Talent</a>
        <ul
          class="is-dropdown-submenu submenu first-sub vertical"
          data-submenu=""
          role="menubar"
          style=""
        >
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/talent/why-work-with-us"
              title="Why Work With Us"
              role="menuitem"
            >Why Work With Us</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a href="/find-work" title="Find Opportunities" role="menuitem">Find
              Opportunities</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/talent/talent-benefits"
              title="Talent Benefits"
              role="menuitem"
            >Talent Benefits</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/talent/training"
              title="Training"
              role="menuitem"
            >Training</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="https://my.aquent.com/mat/myaquent?PROC=AWUIDrawMatLogin&amp;locale=en_US"
              title="Login"
              role="menuitem"
            >Login</a></li>
        </ul>
      </li>
      <li
        class="top-level-item is-dropdown-submenu-parent opens-right"
        role="none"
        aria-haspopup="true"
        aria-label="Company"
        data-is-click="false"
      >
        <a title="Company" class="Text" tabindex="0" role="menuitem">Company</a>
        <ul
          class="is-dropdown-submenu submenu first-sub vertical"
          data-submenu=""
          role="menubar"
          style=""
        >
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a href="/about-us/" title="About" role="menuitem">About</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/about-us/diversity-equity-inclusion"
              title="Diversity, Equity &amp; Inclusion"
              role="menuitem"
            >Diversity, Equity &amp; Inclusion</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/about-us/sustainability"
              title="Sustainability"
              role="menuitem"
            >Sustainability</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a href="/news/" title="News" role="menuitem">News</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="https://medium.com/aquent-future-state"
              title="Blog"
              role="menuitem"
            >Blog</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/services/security"
              title="Security"
              role="menuitem"
            >Security</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/communities/"
              title="Communities"
              role="menuitem"
            >Communities</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/client-success/"
              title="Client Successes"
              role="menuitem"
            >Client Successes</a></li>
          <li
            class="submenu-item is-submenu-item is-dropdown-submenu-item"
            role="none"
          ><a
              href="/our-expertise/partnerships"
              title="Partnerships"
              role="menuitem"
            >Partnerships</a></li>
        </ul>
      </li>
      <li class="top-level-item" role="none"><a
          title="Contact"
          href="/contact-us/"
          role="menuitem"
        >Contact</a></li>
    </ul>
    <div id="country-selector" class="country-selector show-for-large">
      <ul
        class="dropdown menu simple"
        data-dropdown-menu="guqpuq-dropdown-menu"
        data-closing-time="500"
        data-hover-delay="200"
        data-alignment="right"
        role="menubar"
      >
        <li class="top-level-item" role="none"><a
            title="Login"
            href="https://my.aquent.com/mat/myaquent?PROC=AWUIDrawMatLogin&amp;locale=en_US"
            role="menuitem"
          >Login</a></li>
        <li
          class="is-dropdown-submenu-parent opens-left"
          role="none"
          aria-haspopup="true"
          aria-label="USA/Canada"
        >
          <a
            class="down-arrow after"
            title="USA/Canada"
            tabindex="0"
            role="menuitem"
          >USA/Canada</a>
          <ul
            class="submenu menu is-dropdown-submenu first-sub vertical"
            data-submenu=""
            role="menubar"
          >
            <li role="none" class="is-submenu-item is-dropdown-submenu-item"><a
                href="https://aquent.com.au"
                title="Australia"
                role="menuitem"
              >Australia</a></li>
            <li role="none" class="is-submenu-item is-dropdown-submenu-item"><a
                href="https://aquent.fr"
                title="France"
                role="menuitem"
              >France</a></li>
            <li role="none" class="is-submenu-item is-dropdown-submenu-item"><a
                href="https://aquent.de"
                title="Germany"
                role="menuitem"
              >Germany</a></li>
            <li role="none" class="is-submenu-item is-dropdown-submenu-item"><a
                href="https://aquent.co.jp"
                title="Japan"
                role="menuitem"
              >Japan</a></li>
            <li role="none" class="is-submenu-item is-dropdown-submenu-item"><a
                href="https://aquent.nl"
                title="Netherlands"
                role="menuitem"
              >Netherlands</a></li>
            <li role="none" class="is-submenu-item is-dropdown-submenu-item"><a
                href="https://aquent.co.uk"
                title="UK"
                role="menuitem"
              >UK</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>