/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Breakpoint
2 — Theme
3 - BEM utiliy
  3.1 — Concatenate Modifier
  3.2 — Self
4 - Grid
5 - Vertical spacing
/// END TABLE OF CONTENTS **/

/** 1 - Breakpoint
------------------------------------------------------------*/
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/** 2 - Theme
------------------------------------------------------------*/
@function get-theme-value($key) {
  @return map-get($exposed-theme-declarations, $key);
}

// REF: https://codepen.io/Tonours/pen/MzdQZa
@mixin theming($themes) {
  @each $theme, $theme-declarations in $themes {
    @at-root #{&}--#{$theme} {
      // @extend #{&};
      @each $property, $value in $theme-declarations {
        $exposed-theme-declarations: map-merge(
          $theme-declarations,
          (
            $property: $value,
          )
        ) !global;
      }

      @content;
    }
  }
}

/** 3 - BEM utiliy
------------------------------------------------------------*/
// REF: https://www.viget.com/articles/bem-multiple-modifiers-and-experimenting-with-attribute-selectors/
@mixin mod($parent, $modifier) {
  [class^="#{$parent}"][class*="-#{$modifier}"] {
    @content;
  }
}

/* Apply common style to all modifier of a block element */
@mixin self() {
  $self: str-slice(#{&}, 2);

  @at-root &,
    [class*="#{$self}"] {
    @content;
  }
}

/** 4 - Grid
------------------------------------------------------------*/
@mixin grid() {
  @at-root & {
    display: grid;
    column-gap: $grid-mobile-gap;
    @include breakpoint(tablet) {
      column-gap: $grid-tablet-gap;
    }
    @include breakpoint(desktop) {
      column-gap: $grid-desktop-gap;
    }
  }
}

/** 5 - Vertical spacing
------------------------------------------------------------*/
// Requires $design-vertical-spacing map as defined in _variables.scss
@mixin vertical-spacing($spacer, $dir: auto, $type: margin) {
  @if ($spacer == null) {
    @warn 'this mixin needs a map passed in as an argument';
  } @else {
    // vertical spacing on interior panels for mobile & wide
    $map: map-get($design-vertical-spacing, $spacer);
    @each $breakpoint, $value in $map {
      $diff: map-get($design-dev-vertical-space-diff, $breakpoint);

      @if ($dir == auto) {
        @if $breakpoint != small {
          @include breakpoint($breakpoint) {
            #{$type}-top: $value - $diff;
            #{$type}-bottom: $value - $diff;
          }
        } @else {
          #{$type}-top: $value - $diff;
          #{$type}-bottom: $value - $diff;
        }
      } @else {
        @if $breakpoint != small {
          @include breakpoint($breakpoint) {
            #{$type}-#{$dir}: $value - $diff;
          }
        } @else {
          #{$type}-#{$dir}: $value - $diff;
        }
      }
    }
  }
}
