$colors: (
  primary-blue:       #051c2c,
  primary-green:      #6cc24a,
  accessible-green:   #509e2f,
  secondary-blue-1:   #003e51,
  secondary-blue-2:   #004f71,
  secondary-green-1:  #477a7b,
  secondary-green-2:  #a7bdb1,
  secondary-orange-1: #ff6a14,
  secondary-orange-2: #f0b323,
  cool-neutral-1:     #53565a,
  cool-neutral-2:     #75787b,
  cool-neutral-3:     #97999b,
  cool-neutral-4:     #b1b3b3,
  cool-neutral-5:     #c8c9c7,
  cool-neutral-6:     #d9d9d6,
  warm-neutral-1:     #e1b87f,
  warm-neutral-2:     #efdbb2,
)