<div class="section--bg-white">
  <div class="basic-content section__inner">

    <div class="basic-content__card">
      <h3 class="basic-content__title">Dedicated consultants</h3>
      <div class="basic-content__text">
        <p>Our Direct Hire Consultants work only on
        permanent hiring and are dedicated to a limited number of positions at
        once so they can give you the time and attention you need.</p>
      </div><!-- .basic-content__text -->
    </div> <!-- .basic-content__card-->

    <div class="basic-content__card">
      <h3 class="basic-content__title">Top-tier talent</h3>
      <div class="badic-content__text">
        <p>Direct Hire Consultants draw from the
          Aquent global talent network to help you reach talent you couldn’t
          access yourself. This includes those superstars who aren’t looking but
          are open to the right opportunity.</p>
      </div><!-- .basic-content__text -->
    </div> <!-- .basic-content__card-->

    <div class="basic-content__card">
      <h3 class="basic-content__title">Collaborative partnerships</h3>
      <div class="basic-content__text">
        <p>Consultants deeply understand recruiting in
          marketing, creative, and experience design, adding value at every step.
          Collaborating closely with you, they’ll guide you through the process of
          finding your next great hire.</p>
      </div><!-- .basic-content__text -->
    </div> <!-- .basic-content__card-->

  </div><!-- .basic-content .section__inner-->
</div><!-- .section--bg-white -->