<div class="section--bg-white">
  <div class="basic-content--two-cols section__inner">

    <div class="basic-content__card">
      <h3 class="basic-content__title">Global talent network</h3>
      <div class="basic-content__text">
        <p>Our talent pool is over 1,000,000 strong
          across 8 countries, and we employ 10,000 talent on client engagements
          annually. Agents are always meeting fresh faces and growing their
          pipeline to ensure they can consistently make the right match.</p>
      </div>
    </div>

    <div class="basic-content__card">
      <h3 class="basic-content__title">Thorough evaluation</h3>
      <div class="basic-content__text">
        <p>We screen talent to ensure they have the
          right skills and are a great culture fit. Our process includes video
          interviews, portfolio reviews, skills assessments, and reference checks
          with agents and our network of subject matter experts.</p>
      </div>
    </div>

    <div class="basic-content__card">
      <h3 class="basic-content__title">Quality customer service</h3>
      <div class="basic-content__text">
        <p>We’re proud winners of ClearlyRated’s Best
          of Staffing for many years running because it shows our commitment to
          clients and talent. We’re in the business of people and bringing them
          together, and service is at the heart of everything we do.</p>
      </div>
    </div>

    <div class="basic-content__card">
      <h3 class="basic-content__title">Minority-owned supplier</h3>
      <div class="basic-content__text">
        <p>We’re a Certified Minority Owned Business
          (MBE) by the National Minority Supplier Development Council (NMSDC). In
          fact, we’re the largest staffing MBE in the U.S. and hold the elite
          Corporate Plus designation achieved by 1% of certified MBEs.</p>
      </div>
    </div>

    <div class="basic-content__card">
      <h3 class="basic-content__title">Recruiting expertise</h3>
      <div class="basic-content__text">
        <p>Our agents are experienced recruiters, and
          many were former designers, developers, and marketers themselves. They
          also focus on specific industries, so they have a nuanced understanding
          of recruiting for your business.</p>
      </div>
    </div>

    <div class="basic-content__card">
      <h3 class="basic-content__title">Exceptional talent care</h3>
      <div class="basic-content__text">
        <p>We value and take care of talent whether an
          engagement lasts a day or a year. We provide efficient onboarding,
          weekly pay, fast eligibility for industry-leading benefits, free skills
          training, frequent check-ins, and ongoing support.</p>
      </div>
    </div>

    <div class="basic-content__card">
      <h3 class="basic-content__title">110% guarantee</h3>
      <div class="basic-content__text">
        <p>If you’re not fully satisfied with your
          Aquent talent, we provide a refund—plus an extra 10%. That’s how sure we
          are of our people and our process.</p>
      </div>
    </div>

  </div><!-- .basic-content--two-cols . section__inner-->
</div><!-- .section--bg-white -->