<div class="section--bg-white">
    <div class="content-block--homepage-blog section__inner">

        <!-- Featured Blog -->
        <a href="#" class="content-block--clickable content-block--blog-featured-home">

            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/600/634">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/525/720">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/545/747" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->

            <div class="content-block__lower-blog">
                <h3 class="content-block__title anchor-primary">
                    Using Your UX Skills to Architect Your Career
                </h3>

                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Mags Hanley</label>
                    <time class="content-block__blog-date" datetime="2021-06-10"><span
                            class="content-block__blog-date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy, Skill
                    Development</p>
            </div><!-- .content-block__lower-blog -->

        </a><!-- .content-block--clickable .content-block--blog-featured-home -->

        <!-- Latest Blogs -->
        <div class="content-slider-blog" aria-label="gallery">

            <div class="content-slider__controls">
                <a href="" aria-label="previous" class="content-slider__controls-left"></a>
                <a href="" aria-label="next" class="content-slider__controls-right"></a>
            </div>

            <div class="content-slider__cards-list grid-col-content__four--homepage-blog">

                <div class="content-slider__block">

                    <a href="#" class="content-block--clickable content-block--blog">
                        <div class="content-block__upper-blog">
                            <picture class="post-image">
                                <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/278/156">
                                <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/254/143">
                                <img class="content-block__image" src="https://www.fillmurray.com/g/278/156"
                                    role="presentation" alt="" />
                                <source>
                            </picture>
                        </div><!-- .content-block__upper-blog -->

                        <div class="content-block__lower-blog">
                            <h3 class="content-block__title anchor-primary">
                                Fix your talent cycle or lose your talent.
                            </h3>
                            <div class="content-block__blog-author-date">
                                <label for="source" class="content-block__author">By Susie Hall</label>
                                <time class="content-block__date-blog" datetime="2021-06-10"><span
                                        class="content-block__date-month-day-year"
                                        aria-label="June">06.02.21</span></time>
                            </div>
                            <p class="content-block__blog-text-tag">Managing People</p>
                        </div><!-- .content-block__lower-blog -->
                    </a><!-- .content-block--clickable -->

                </div>
                <!-- .content-slider__block -->

                <div class="content-slider__block">

                    <a href="#" class="content-block--clickable content-block--blog">
                        <div class="content-block__upper-blog">
                            <picture class="post-image">
                                <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/278/156">
                                <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/254/143">
                                <img class="content-block__image" src="https://www.fillmurray.com/g/278/156"
                                    role="presentation" alt="" />
                                <source>
                            </picture>
                        </div><!-- .content-block__upper-blog -->

                        <div class="content-block__lower-blog">
                            <h3 class="content-block__title anchor-primary">
                                Ageism is Alive and Well
                            </h3>
                            <div class="content-block__blog-author-date">
                                <label for="source" class="content-block__author">By Richard Sauerman</label>
                                <time class="content-block__date-blog" datetime="2021-03-29"><span
                                        class="content-block__date-month-day-year"
                                        aria-label="March">03.29.21</span></time>
                            </div>
                            <p class="content-block__blog-text-tag">Career Advice, Hiring Freelancers, Branding</p>
                        </div><!-- .content-block__lower-blog -->
                    </a><!-- .content-block--clickable .content-block--blog -->

                </div>
                <!-- .content-slider__block -->

                <div class="content-slider__block">

                    <a href="#" class="content-block--clickable content-block--blog">
                        <div class="content-block__upper-blog">
                            <picture class="post-image">
                                <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/278/156">
                                <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/254/143">
                                <img class="content-block__image" src="https://www.fillmurray.com/g/278/156"
                                    role="presentation" alt="" />
                                <source>
                            </picture>
                        </div><!-- .content-block__upper-blog -->

                        <div class="content-block__lower-blog">
                            <h3 class="content-block__title anchor-primary">
                                Why Diversity Is Crucial for Decision Making, Creativity and the Success of Your
                                Teams
                            </h3>
                            <div class="content-block__blog-author-date">
                                <label for="source" class="content-block__author">By Craig Badings</label>
                                <time class="content-block__date-blog" datetime="2021-03-21"><span
                                        class="content-block__date-month-day-year"
                                        aria-label="March">03.3.21</span></time>
                            </div>
                            <p class="content-block__blog-text-tag">Salary Data, Hiring Freelancers</p>
                        </div><!-- .content-block__lower-blog -->
                    </a><!-- .content-block--clickable .content-block--blog -->

                </div>
                <!-- .content-slider__block -->

                <div class="content-slider__block">

                    <a href="#" class="content-block--clickable content-block--blog">
                        <div class="content-block__upper-blog">
                            <picture class="post-image">
                                <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/278/156">
                                <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/254/143">
                                <img class="content-block__image" src="https://www.fillmurray.com/g/278/156"
                                    role="presentation" alt="" />
                                <source>
                            </picture>
                        </div><!-- .content-block__upper-blog -->

                        <div class="content-block__lower-blog">
                            <h3 class="content-block__title anchor-primary">
                                The Warning Signs Were There, Now the “Great Resignation” Is Upon Us
                            </h3>
                            <div class="content-block__blog-author-date">
                                <label for="source" class="content-block__author">By Vitamin T</label>
                                <time class="content-block__date-blog" datetime="2021-05-23"><span
                                        class="content-block__date-month-day-year"
                                        aria-label="May">05.23.21</span></time>
                            </div>
                            <p class="content-block__blog-text-tag">Managing People</p>
                        </div><!-- .content-block__lower-blog -->
                    </a><!-- .content-block--clickable .content-block--blog -->

                </div>
                <!-- .content-slider__block -->

            </div><!-- .content-slider__cards-list .grid-col-content__four--homepage-blog -->

        </div><!-- .content-slider-blog-->

    </div><!-- .content-block--homepage-blog -->
</div><!-- .section--bg-white -->