/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Document Base
2 — Headers
/// END TABLE OF CONTENTS **/

/** 1 - Document Base
------------------------------------------------------------*/
body {
  color: map-get($colors, primary-blue);
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

/** 2 - Headers
------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: degular, sans-serif;
  font-weight: 600;
  margin: 0
}

h1 {
  font-size: 8.4rem;
  line-height: 1.048;
}

h2 {
  font-size: 6.8rem;
  line-height: 1.059;
}

h3, .h3 {
  font-size: 5.4rem;
  line-height: 1.074;
}

h4, .h4 {
  font-size: 4.2rem;
  line-height: 1.095;
}

h5, .h5 {
  font-size: 3.2rem;
  line-height: 1.125;
}

h6, .h6 {
  font-size: 2.8rem;
  line-height: 1.143;
}

p {
  @extend .tk-degular-text;

  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
}

a {
  background-color: transparent;
}

blockquote {
  @extend .h6--quote;

  @include breakpoint(small) {
    font-size: 4.2rem;
    line-height: 1.095;
    font-style: italic;
  }
}

time {
  @extend .p--body-extra-small;
  color: $secondary-green-1;
}

ul {
  margin: 0;
  font-weight: inherit;

  li::before {
    color: $accessible-green;
    content: "\2022";
    float: left;
    font-weight: bold;
    margin-left: -1rem;
    width: 1rem;
  }
}

dl {
  display: block;

  dt {
    @extend h4;
    display: block;
    color: inherit;
  }
  
  dd {
    @extend .p--body;
  }
}

hr {
  margin: 0;
}

pre {
  overflow: auto;
}