/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Document Base
2 — Headers
3 — Paragraph Text
4 — Anchor
5 — Blockquote
6 — Time
7 — Lists
  7.1 — Unordered List
  7.2 — Definition List
7 — Horizontal Rule
9 — Preformatted Text
/// END TABLE OF CONTENTS **/

/** 1 - Document Base
------------------------------------------------------------*/
body {
  color: $primary-blue;
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

/** 2 - Headers
------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: degular, sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 8.4rem;
  line-height: 1.048;
}

h2 {
  font-size: 6.8rem;
  line-height: 1.059;
}

h3, .h3 {
  font-size: 5.4rem;
  line-height: 1.074;
}

h4, .h4 {
  font-size: 4.2rem;
  line-height: 1.095;
}

h5, .h5 {
  font-size: 3.2rem;
  line-height: 1.125;
}

h6, .h6 {
  font-size: 2.8rem;
  line-height: 1.143;
}

/** 3 - Paragraph Text
------------------------------------------------------------*/
p {
  @extend .tk-degular-text;

  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
}

/** 4 - Anchors
------------------------------------------------------------*/
a {
  background-color: transparent;
}

/** 5 - Blockquotes
------------------------------------------------------------*/
blockquote {
  @extend .h6--quote;

  @include breakpoint(mobile) {
    font-size: 4.2rem;
    font-style: italic;
    line-height: 1.095;
  }
}

/** 6 - Time
------------------------------------------------------------*/
time {
  @extend .p--body-extra-small;
  color: $secondary-green-1;
}

/** 7 - Lists
------------------------------------------------------------*/
/* =========================
7.1 - Unordered List
========================= */
ul {
  margin: 0;
  font-weight: inherit;

  li::before {
    color: $accessible-green;
    content: "\2022";
    float: left;
    font-weight: bold;
    margin-left: -1rem;
    width: 1rem;
  }
}

/* =========================
7.2 - Definition List
========================= */
dl {
  display: block;

  dt {
    @extend h4;
    display: block;
    color: inherit;
  }
  
  dd {
    @extend .p--body;
  }
}

/** 8 - Horizontal Rule
------------------------------------------------------------*/
hr {
  margin: 0;
}

/** 9 - Preformatted Text
------------------------------------------------------------*/
pre {
  overflow: auto;
}