/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Document Base
2 — Headers
/// END TABLE OF CONTENTS **/

/** 1 - Document Base
------------------------------------------------------------*/
body {
  color: map-get($colors, primary-blue);
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

/** 2 - Headers
------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-family: degular, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 8.4rem;
  line-height: 1.048;
}

h2 {
  font-size: 6.8rem;
  line-height: 1.059;
}
