/** TABLE OF CONTENTS - Cards
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Content Block
2 - Content Block - Clickable
3 - Content Block - Clickable - Blog Cards

/// END TABLE OF CONTENTS **/

/** 1 - Content Block
------------------------------------------------------------*/

.content-block {
  &__button {
    display: none;
    position: relative;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }

  &__date,
  &__image {
    align-self: center;
    grid-row: 1 / 2;
  }

  &__date {
    align-items: center;
    background-color: $secondary-blue-1;
    color: $primary-white;
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    height: 9rem;
    justify-content: center;
    margin-left: -1rem;
    width: 9rem;
    z-index: 1;

    @include breakpoint(tablet) {
      margin-left: -2rem;
    }

    &-month {
      @extend [class^="tertiary-info"];
    }

    &-day {
      @extend .h4;
    }
  }

  &__image {
    grid-column: 1 / 3;
    width: 100%;
    max-width: 100%;
  }

  &__subtitle {
    @extend [class^="tertiary-info"];
    color: $secondary-green-1;
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
      margin-bottom: 1.4rem;
    }
  }

  &__blog {
    margin-bottom: 2.4rem;

    &-text {
      color: $cool-neutral-1;
      font-size: 2.0rem;

      &-tag {
        color: $secondary-green-1;
        font-size: 1.6rem;
      }
    }
  }

  &__title {
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
      margin-bottom: 1.4rem;
    }
  }

  &__upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.4rem;

    &-blog {
      margin-bottom: 2.1rem;

      .post-image {
        display: inline-block;
        overflow: hidden;
      }
    }
  }
}

/** 2 - Content Block - Clickable
------------------------------------------------------------*/
.content-block--clickable {
  background: none;
  display: block;

  .content-block__title {
    display: inline;

    &::after {
      @extend .content-block__title;
      content: "";
      display: block;
    }
  }

  &:hover {
    .content-block__title {
      @extend .a;
    }
  }

  .content-block__image {
    @include image-zoom;
  }
}

/** 3 - Content Block - Clickable - Blog Cards
------------------------------------------------------------*/
.content-block--blog {
  padding-bottom: 7.5rem;
  &:last-child {
    padding-bottom: 0;
  }
  @include breakpoint(desktop) {
    padding-bottom: 0;
  }

  &-featured {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    @extend .content-block--clickable;

    @include breakpoint(desktop) {
      @include grid();
      align-items: center;
      column-gap: 14.5rem !important;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 14.5rem;
      padding-top: 14.5rem;
    }

  }

  &-flip {
    order: -1;
  }

  &__lower {
    margin-top: 2.1rem;
  }
}