.generic-content {
  $margin: 0 $grid-mobile-margin;

  @include breakpoint(tablet) {
    $margin: 0 $grid-tablet-margin;
  }

  @include breakpoint(desktop) {
    $margin: 0 auto;
  }

  &--left {
    @include grid();
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
  }

  &__copy {
    grid-column: 1/12;
    margin: 0 $grid-mobile-margin;

    @include breakpoint(desktop) {
      grid-column: 1/7;
      margin: 0;
    }

    &-text {
      color: $cool-neutral-1;

      &--bold {
        @extend .p--body-emphasis;
        color: $primary-blue;
      }
    }
  }

  &__header {
    margin-bottom: 1.5rem;

    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }
  }
}
