/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Top Nav Wrapper
2 — Mobile Hamburger Menu
3 — Top Menu
4 — Nav bar wrapper
5 — Dropdown menus
/// END TABLE OF CONTENTS **/

/** 1 - Top Nav Wrapper
------------------------------------------------------------*/
.top-nav {
  position: absolute;
  top: 0;
  z-index: 10; // top nav needs to be above the hero image
  width: 100%;
  outline: none;
  height: 8rem;

  @include breakpoint(tablet) {
    height: 9rem;
  }

  @include breakpoint(desktop) {
    position: static;
    height: 100%;
  }

  &__img {
    width: 18rem;

    @include breakpoint(desktop) {
      max-width: 18rem;
    }
  }

  &__logo {
    position: absolute;
    right: 2.6rem;
    z-index: 10;
  
    @include breakpoint(desktop) {
      position: relative;
      right: initial;
    } 
  }
}

/** 2 - Mobile Hamburger Menu
------------------------------------------------------------*/
.menu-toggle {
  background: transparent;
  border: none;
  border-bottom: 0.3rem solid $primary-white;
  cursor: pointer;
  height: 2.5rem;
  left: 2.6rem;
  position: relative;
  transition: border-bottom 250ms ease;
  width: 2.5rem;
  z-index: 2;

  @include breakpoint(tablet) {
    //transform: translateY(50%);
  }

  @include breakpoint(desktop) {
    display: none;
  }

  &:active,
  &:focus {
    background: transparent;
    border: none;
    outline: none;
  }

  &::after,
  &::before {
    height: 0.2rem;
    width: 100%;
    left: 0;
    background: $primary-white;
    content: "";
    position: absolute;
    transition: transform 250ms ease, background 250ms ease;
  }

  &::before {
    top: 50%;
    transform: rotate(-180deg);
  }

  &::after {
    top: 0;
    transform: rotate(180deg);
  }

  &__a {
    background: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-decoration: none;
    width: 100%;
  }

  a {
    &#close-menu {
      display: none;
    }

    &#open-menu {
      display: inline-block;
    }
  }
}

/** 3 - Top Menu
------------------------------------------------------------*/
.top-menu {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  
  @include breakpoint(desktop) {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0;
    grid-template-columns: 1fr 4fr; 
    height: initial;
    padding: 0 3rem;
  }

  &__ul {
    font-weight: inherit;
    list-style-type: none;
    padding: 2.9rem;    
  }

  &__li {
    display: block;

    &::before {
      content: "";
    }

    &--heading {
      border-bottom: 0.1rem solid $cool-neutral-4;
      padding-bottom: 1rem;
      margin-bottom: 1.6rem;
    }

    &--subheading {
      color: $secondary-green-1;
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__anchor,
  &__button {
    text-decoration: none;
  }

  &__button {
    width: fit-content;
    margin-top: 2rem;

    @include breakpoint(desktop) {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      height: fit-content;
    }
  }

  &__label {
    @include breakpoint(desktop) {
      display: block;
      padding: 4.3rem 1.774rem 4.3rem 0;
      position: relative;

      &::before {
        background-color: $secondary-green-2;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        content: "";
        display: block;
        height: 0.5rem;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 0.974rem;
      }

      @at-root [open] #{&} {
        @include breakpoint(desktop) {
          background: linear-gradient(0deg, $primary-green 0%, $primary-green 8%, transparent 8%, transparent 100%);

          &::before {
            background-color: $primary-white;
            clip-path: polygon(50% 0, 100% 100%, 0 100%);
          }
        }
      }
    }
  }

  &__menuitem {
    cursor: pointer;
    list-style: none;
    padding: 2rem 0;
    position: relative;

    &:before {
      background-color: $secondary-green-1;
      clip-path: polygon(88% 12%, 100% 0, 100% 95%, 95% 100%, 0 100%, 12% 88%, 88% 88%);
      content: '';
      display: block;
      height: 1.5rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      width: 1.5rem;
    }

    @include breakpoint(desktop) {
      padding: 0 0 0 3rem;

      &:before {
        display: none;
      }
    }
  }

  &__divider {
    border-top: 0.1rem solid $cool-neutral-3;
    border-left: none;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include breakpoint(desktop) {
      border-top: none;
      border-left: 0.1rem solid $cool-neutral-2;
      margin-left: 3rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__details {
    &[open] {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      @include breakpoint(desktop) {
        position: relative;
      }

      .dropdown-menu {
        animation: sweep 0.5s ease-in-out;
      }

      .top-menu {
        &__menuitem {
          background-color: $secondary-blue-2;
          padding: 2.5rem 0 2.5rem 6.3rem;

          &:before {
            background-color: $primary-white;
            clip-path: polygon(88% 12%, 100% 0, 100% 95%, 95% 100%, 0 100%, 12% 88%, 88% 88%);
            content: '';
            display: block;
            height: 1.5rem;
            left: 3rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
            width: 1.5rem;
          }

          @include breakpoint(desktop) {
            background-color: transparent;
            padding: 0 0 0 3rem;

            &:before {
              content: none;
            }
          }
        }
      }
    }
  }
}

/** 4 - Nav bar wrapper
------------------------------------------------------------*/
.navbar {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 5rem 2rem 0 2rem;
  background: $primary-blue;
  transform: translateY(-100%);
  transition: transform 0.2s ease;

  @include breakpoint(tablet) {
    width: 50%;
  }

  @include breakpoint(desktop) {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 3rem repeat(3, auto) 1fr;
    justify-items: center;
    grid-column-gap: 0;
    grid-auto-columns: max-content;
    position: relative;
    top: 0;
    transform: none;
    overflow: visible;
    padding: 0;
  }

  &:target {
    transform: translateY(54%);

    @include breakpoint(tablet) {
      transform: translateY(55.3%);
    }
    /* 
        * Transform all the slices of hamburger
        * into a crossmark.
        */
    & ~ .menu-toggle {
      border-bottom: 0;

      &:after,
      &:before {
        height: 0.2rem;
        width: 100%;
        top: 50%;
        left: 0;
        background: $primary-white;
        transition: transform 250ms ease, background 250ms ease;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

      &__a {
        position: absolute;
      }

      a {
        &#close-menu {
          display: inline-block;
        }

        &#open-menu {
          display: none;
        }
      }
    }
  }
}

/** 5 - Dropdown menus
------------------------------------------------------------*/
.dropdown-menu {
  z-index: 10;
  left: 0;
  width: 100%;
  height: 92vh;
  overflow: hidden;
  list-style: none;
  background: $primary-white;

  @include breakpoint(desktop) {
    transform: none;
    display: grid;
    position: absolute;
    height: auto;
    width: max-content;
    overflow: visible;
  }

  &--main {
    align-self: flex-start;
    width: 100%;

    @include breakpoint(desktop) {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &--sub {
    align-self: flex-end;
    width: 100%;

    @include breakpoint(desktop) {
      background-color: lighten($secondary-green-2, 20%);
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }

  &--main,
  &--sub {
    @include breakpoint(desktop) {
      align-self: unset;
      width: auto;
    }
  }

  &__button {
    text-decoration: none;
    margin-top: 2rem;
    width: fit-content;
  }
}
