.p {
  @extend p;

  &--lead,
  &--lead-1 {
    font-size: 2.8rem;
    line-height: 1.286;
  }

  &--lead-emphasis,
  &--lead-1-emphasis {
    @extend .p--lead;
    font-weight: 600;
  }

  &--lead-2 {
    font-size: 2.4rem;
    line-height: 1.167;
  }

  &--lead-2-emphasis {
    @extend .p--lead-2;
    font-weight: 600;
  }

  &--body {
    font-size: 2rem;
    line-height: 1.4;
  }

  &--body-emphasis {
    @extend .p--body;
    font-weight: 600;
  }

  &--body-quote {
    @extend .p--body, .italic;
  }

  &--body-small {
    font-size: 1.8rem;
    line-height: 1.444;
  }

  &--body-small-emphasis {
    @extend .p--body-small;
    font-weight: 600;
  }

  &--body-extra-small {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &--body-extra-small-emphasis {
    @extend .p--body-extra-small;
    font-weight: 600;
  }
}

[class^="tertiary-info"] {
  @extend .tk-aktiv-grotesk;
  @extend .uppercase;

  font-size: 1.4rem;
  line-height: 1.286;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.tertiary-info {
  &--large {
    font-size: 1.6rem;
    line-height: 1.25;
  }

  &--small {
    font-size: 1.2rem;
    line-height: 1.333;
  }
}

.a {
  @extend a, .p--body;

  @include theming($themes) {
    color: get-theme-value(color);
    background-color: get-theme-value(background-color);

    background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 0.2rem
      no-repeat;
    transition: 0.3s;
    &:hover {
      --d: 100%;
    }

    @include mod(primary) {
      background: linear-gradient(get-theme-value(primary-accent) 0 0) 0 100% /
        var(--d, 0) 0.2rem no-repeat;
    }

    @include mod(secondary) {
      background: linear-gradient(get-theme-value(secondary-accent) 0 0) 0 100% /
        var(--d, 0) 0.2rem no-repeat;
    }

    @include mod(link) {
      @extend [class^="tertiary-info"];
      font-weight: 700;
    }
  }
}

// this is affecting button-group
// [class^="button"] {
//   @extend [class^="tertiary-info"];
//   display: inline-block;
// }

.button {
  @include theming($themes) {
    @extend [class^="tertiary-info"];
    display: inline-block;
    color: get-theme-value(color);
    background-color: get-theme-value(background-color);

    &:hover {
      color: get-theme-value(rollover-color);
      background-color: get-theme-value(color);
      border: 0.2rem solid get-theme-value(color);
      transition: background-color 250ms ease-out, border-color 250ms ease-out,
        color 250ms ease-out;
    }

    @include mod(primary) {
      border: 0.2rem solid get-theme-value(primary-accent);
    }

    @include mod(secondary) {
      border: 0.2rem solid get-theme-value(secondary-accent);
    }

    @include mod(small) {
      padding: 1.2rem;
    }

    @include mod(medium) {
      padding: 1.6rem;
    }

    @include mod(large) {
      padding: 2.1rem 2rem;
    }
  }
}
