/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Text
2 — Containers
3 - Accessibility
/// END TABLE OF CONTENTS **/

/** 1 - Text
------------------------------------------------------------*/
.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/** 2 - Containers
------------------------------------------------------------*/
[class^="section"] {
  > * {
    margin: 0 auto;
    max-width: 144rem;
    width: 100%;
    padding: clamp(2rem, 8vw, 14.5rem);
  }
}

.section {
  @include theming($themes) {
    color: get-theme-value(color);
    background-color: get-theme-value(background-color);

    .headline {
      @extend .uppercase;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 70%,
        get-theme-value(secondary-accent) 70%
      );
      display: inline;
    }
  }
}

/** 3 - Accessibility
------------------------------------------------------------*/
.show-for-sr {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

