/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Text
2 — Containers
3 - Accessibility and Visibility
4 - Multi Column Blog Grid
/// END TABLE OF CONTENTS **/

/** 1 - Text
------------------------------------------------------------*/
.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/** 2 - Containers
------------------------------------------------------------*/
[class^="section"] {
  > * {
    margin: 0 auto;
    max-width: 144rem;
    width: 100%;
    padding: clamp(2rem, 8vw, 14.5rem);
  }
}

.section {
  @include theming($themes) {
    color: get-theme-value(color);
    background-color: get-theme-value(background-color);

    .headline {
      @extend .uppercase;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 70%,
        get-theme-value(secondary-accent) 70%
      );
      display: inline;
    }
  }
}

/** 3 - Accessibility and Visibility
------------------------------------------------------------*/
.hidden {
  display: none;
}

.hidden-for-desktop {
  display: relative;
  @include breakpoint(desktop) {
    display: none;
  }
}

.show-for-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap !important;
  border: 0;
}

.show-on-focus {
  @extend .show-for-sr;

  &:active,
  &:focus {
    background-color: $primary-white;
    border: .3rem dotted blue;
    border-radius: .8rem;
    clip: initial;
    color: blue;
    display: block;
    height: max-content;
    left: 0;
    padding: 1rem 4rem;
    top: 0;
    width: max-content;
  }
}

/** 4 - Multi Column Blog Grid
------------------------------------------------------------*/
.grid-col-content {
  &__two, &__three {
    padding-top: 0;
  }

  &__two {
    &:nth-of-type(3){
      padding-bottom: 7.5rem;
      @include breakpoint(desktop) {
        padding-bottom: 14.4rem;
      }
    }
  }

  &__three {
    &:nth-of-type(3n+1){
      padding-top: 7.5rem;
      @include breakpoint(desktop) {
      padding-top: 14.4rem;
      }
    } 
  }
  
  @include breakpoint(desktop) {
      &__two {
          @include grid();
          align-items: center;
          column-gap: 16.0rem !important;
          grid-template-columns: repeat(2, 1fr);
          padding-bottom: 13.5rem;
          &.featured {
              column-gap: 14.5rem !important;
          }
      }

      &__three {
          @include grid();
          align-items: center;
          column-gap: 14.6rem !important;
          grid-template-columns: repeat(3, 1fr);
          padding-bottom: 13.5rem;
      }
  }

  @include breakpoint(tablet) {
      grid-column-gap: 7.1rem;
      grid-template-columns: repeat(1, 1fr);
  }

}