<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{path '/css/preview.css'}}">
    <link media="all" rel="stylesheet" href="{{path '/css/dist/styles.css'}}"> 
    <title>Preview Layout</title>
</head>

<body class="no-center">
    {{{ yield }}}

    <script src="{{path '/js/main.js'}}"></script>
</body>
</html>