<div
  class="top-nav section--bg-prim-blue"
  tabindex="0"
>
  <a class="show-on-focus" href="#">Skip navigation</a>
  <div class="top-menu">
    <div class="top-nav__logo">
      <a href="/" title="Aquent">
        <img
          src="{{path '/img/Vitamin_T_Primary_Wordmark_RGB_Reverse.svg'}}"
          class="top-nav__img"
          alt="Vitamin T Logo"
        />
      </a>
    </div><!-- ..top-nav__logo -->

    <nav id="navbar" class="navbar">
      <details class="top-menu__details">
        <summary class="tertiary-info--large top-menu__menuitem">
          <span class="top-menu__label">
            Talent
          </span>
        </summary>

        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="top-menu__ul dropdown-menu--main" role="menubar">
            <li class="top-menu__li top-menu__li--heading" role="none"><span
                class="p--body-emphasis"
              >Employment</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Why work with us"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Why work with us</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Talent Benefits"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Talent Benefits</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Training"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Training</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="FAQs"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">FAQs</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="MyAquent Talent"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">MyAquent Talent</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Explore Jobs"
                role="menuitem"
                class="button--small-primary dropdown-menu__button"
              >Explore Jobs</a></li>
          </ul>

          <ul class="top-menu__ul dropdown-menu--sub">
            <li class="top-menu__li top-menu__li--heading" role="none"><span
                class="p--body-emphasis"
              >Resource</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Blog"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Blog</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Reports"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Reports</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Check Salary"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Check Salary</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Events"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Events</span></a></li>
          </ul>
        </div>
      </details>

      <div class="top-menu__divider"></div>

      <details class="top-menu__details">
        <summary class="tertiary-info--large top-menu__menuitem">
          <span class="top-menu__label">
            Problems we solve
          </span>
        </summary>

        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="top-menu__ul dropdown-menu--main" role="menubar">
            <li class="top-menu__li top-menu__li--heading" role="none"><span
                class="p--body-emphasis"
              >Services</span></li>
            <li class="top-menu__li top-menu__li--subheading" role="none"><span
                class="tertiary-info"
              >Marketing, creative &amp; experience design</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Staffing &amp; Recruiting"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Staffing &amp; Recruiting</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Managed Talent"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Managed Talent</span></a></li>
            <li class="top-menu__li top-menu__li--subheading" role="none"><span
                class="tertiary-info"
              >Workforce</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Recruitment Marketplace"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Recruitment Marketplace</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Employer of Record"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Employer of Record</span></a></li>
            <li class="top-menu__li top-menu__li--subheading" role="none"><span
                class="tertiary-info"
              >Professional Development</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Team Readiness"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Team Readiness</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Request Talent"
                role="menuitem"
                class="button--small-primary dropdown-menu__button"
              >Request Talent</a></li>
          </ul>

          <ul class="top-menu__ul dropdown-menu--sub">
            <li class="top-menu__li top-menu__li--heading" role="none"><span
                class="p--body-emphasis"
              >Resource</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Blog"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Blog</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Reports"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Reports</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Check Salary"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Check Salary</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Events"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Events</span></a></li>
          </ul>
        </div>
      </details>

      <details class="top-menu__details">
        <summary class="tertiary-info--large top-menu__menuitem">
          <span class="top-menu__label">
            Tech we deliver
          </span>
        </summary>

        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="top-menu__ul dropdown-menu--main" role="menubar">
            <li class="top-menu__li top-menu__li--subheading" role="none"><span
                class="tertiary-info"
              >Software</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Recruitment Marketplace"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Recruitment Marketplace</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Project Management Software"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Project Management Software</span></a></li>
            <li class="top-menu__li top-menu__li--subheading" role="none"><span
                class="tertiary-info"
              >Workforce</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Recruitment Marketplace"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Recruitment Marketplace</span></a></li>
            <li class="top-menu__li top-menu__li--subheading" role="none"><span
                class="tertiary-info"
              >Tools</span></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Persona"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Persona</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Book"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Book</span></a></li>
          </ul>
        </div>
      </details>

      <details class="top-menu__details">
        <summary class="tertiary-info--large top-menu__menuitem">
          <span class="top-menu__label">
            Who we are
          </span>
        </summary>

        <div class="dropdown-menu section--bg-white" role="menubar">
          <ul class="top-menu__ul dropdown-menu--main" role="menubar">
            <li class="top-menu__li" role="none"><a
                href="#"
                title="About"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">About</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Our People"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Diversity, Equity &amp; Inclusion</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Communities"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Sustainability</span></a></li>
            <li class="top-menu__li" role="none"><a
                href="#"
                title="Client Stories"
                role="menuitem"
                class="anchor--primary top-menu__anchor"
              ><span class="p--body-small">Client Stories</span></a></li>
          </ul>
        </div>
      </details>

      <div class="top-menu__divider hidden-for-desktop"></div>

      <a
        href="#"
        role="menuitem"
        class="button--small-primary top-menu__button"
      >Contact</a>
    </nav> <!--- #navbar.grid-container.navbar --->

    <div
      class="menu-toggle"
      id="menu-toggle"
      data-aria-label-open="Open menu"
      data-aria-label-close="Close Menu"
    >
      <a class="menu-toggle__a" href="#navbar" id="open-menu">
        <span class="hidden">Open Menu</span>
      </a>
      <a class="menu-toggle__a" href="#" id="close-menu">
        <span class="hidden">Close Menu</span>
      </a>
    </div> <!--- menu-toggle --->
  </div> <!--- grid-container top-menu --->
</div> <!--- top-nav --->