<div class="section--bg-white">

    <a href="#" class="content-block--blog-featured section__inner">

        <div class="content-block__upper-blog">
            <picture class="post-image">
                <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/700">
                <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/600/900">
                <img class="content-block__image" src="https://www.fillmurray.com/g/545/747" role="presentation"
                    alt="" />
                <source>
            </picture>
        </div><!-- .content-block__upper-blog -->

        <div class="content-block__lower-blog">
            <h1 class="content-block__title anchor-primary">
                4 ways to keep your talent during the Turnover Tsunami.
            </h1>

            <div class="content-block__blog-author-date">
                <label for="source" class="content-block__author">By Susie Hall</label>
                <time class="content-block__blog-date" datetime="2021-06-10"><span
                        class="content-block__blog-date-month-day-year" aria-label="June">06.02.21</span></time>
            </div>

            <p class="content-block__blog-text">Employees are quitting their jobs in record numbers. Here’s what
                you can do to keep your team!
            </p>
            <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy, Skill
                Development</p>
        </div><!-- .content-block__lower-blog -->

    </a><!-- .content-block--blog-featured -->

    <div class="grid-col-content__two section__inner">

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/400">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/500/400">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/500/400" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->

            <div class="content-block__lower-blog">
                <h4 class="content-block__title anchor-primary">
                    Fix your talent cycle or lose your talent.
                </h4>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">The talent cycle is broken, and fixing it absolutely must be
                    a top priority for leaders.</p>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->


        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/545/747">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/545/747">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/545/747" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h4 class="content-block__title anchor-primary">
                    What every creative team needs to be successful.
                </h4>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Learn how the role of the Creative Operations leader
                    creates success for an in-house design team.</p>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

    </div> <!-- .two-col-content -->


    <div class="grid-col-content__three section__inner">

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Change the rules, save the day.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Contingent labor programs that treat suppliers as untrustworthy
                    enemies ultimately fail.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->


        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/400">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/392">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/392" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Stop calling it “Return to Work.”
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">As many start to “return to work,” the concept itself needs to
                    change.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    If your team isn’t learning, they’re falling behind. Fix it.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Our InsideOut Design Leader Community gathered to figure out how
                    to engage employees in crafting learning plans.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

    </div> <!-- .three-col-content -->


    <div class="grid-col-content__two section__inner">
        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/393">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/525/393">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/525/393" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->

            <div class="content-block__lower-blog">
                <h4 class="content-block__title anchor-primary">
                    Fix your talent cycle or lose your talent.
                </h4>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">The talent cycle is broken, and fixing it absolutely must be
                    a top priority for leaders.</p>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog-flip">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/700">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/600/900">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/545/747" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->

            <div class="content-block__lower-blog">
                <h4 class="content-block__title anchor-primary">
                    What every creative team needs to be successful.
                </h4>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Learn how the role of the Creative Operations leader
                    creates success for an in-house design team.</p>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog-flip -->

    </div> <!-- .two-col-content -->


</div><!-- .section--bg-white -->

<div class="section--bg-sec-blue section__inner">
    <section class="featured">
        <hgroup class="featured__title">
            <h4 class="headline">Featured</h4>
        </hgroup>
        <div class="content-block--featured">
            <div class="content-block__upper">
                <img class="content-block__image" src="/img/featured_image.jpg" />
            </div><!-- .content-block__upper -->

            <div class="content-block__lower">
                <p class="content-block__subtitle">2021 Salary Guide</p>
                <h4 class="content-block__title">Unprecedented Challenges. Unexpected
                    Opportunities.</h4>

                <p class="content-block__text">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.</p>
                <a href="#" class="button--medium-primary content-block__button">Learn
                    More</a>
            </div><!-- .content-block__lower -->
        </div><!-- .content-block--featured -->
    </section>
</div><!-- .section--bg-sec-blue -->

<div class="section--bg-white">

    <div class="grid-col-content__three section__inner">

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Change the rules, save the day.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Contingent labor programs that treat suppliers as untrustworthy
                    enemies ultimately fail.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->


        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/400">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/392">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/392" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Stop calling it “Return to Work.”
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">As many start to “return to work,” the concept itself needs to
                    change.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    If your team isn’t learning, they’re falling behind. Fix it.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Our InsideOut Design Leader Community gathered to figure out how
                    to engage employees in crafting learning plans.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

    </div> <!-- .three-col-content -->
    <div class="grid-col-content__three section__inner">

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Change the rules, save the day.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Contingent labor programs that treat suppliers as untrustworthy
                    enemies ultimately fail.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->


        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/400">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/392">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/392" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Stop calling it “Return to Work.”
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">As many start to “return to work,” the concept itself needs to
                    change.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    If your team isn’t learning, they’re falling behind. Fix it.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Our InsideOut Design Leader Community gathered to figure out how
                    to engage employees in crafting learning plans.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

    </div> <!-- .three-col-content -->

    <div class="grid-col-content__two section__inner">

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/400">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/500/400">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/500/400" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->

            <div class="content-block__lower-blog">
                <h4 class="content-block__title anchor-primary">
                    Fix your talent cycle or lose your talent.
                </h4>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">The talent cycle is broken, and fixing it absolutely must be
                    a top priority for leaders.</p>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/545/747">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/545/747">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/545/747" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h4 class="content-block__title anchor-primary">
                    What every creative team needs to be successful.
                </h4>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Learn how the role of the Creative Operations leader
                    creates success for an in-house design team.</p>
                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

    </div><!-- .two-col-content -->

</div>

<div class="section--bg-sec-blue section__inner">

    <section class="featured">
        <hgroup class="featured__title">
            <h4 class="headline">Featured</h4>
        </hgroup>
        <div class="content-block--featured">
            <div class="content-block__upper">
                <img class="content-block__image" src="/img/featured_image.jpg" />
            </div><!-- .content-block__upper -->

            <div class="content-block__lower">
                <p class="content-block__subtitle">2021 Salary Guide</p>
                <h4 class="content-block__title">Unprecedented Challenges. Unexpected
                    Opportunities.</h4>

                <p class="content-block__text">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.</p>
                <a href="#" class="button--medium-primary content-block__button">Learn
                    More</a>
            </div><!-- .content-block__lower -->
        </div><!-- .content-block--featured -->
    </section>

</div><!-- .section--bg-sec-blue -->

<div class="section--bg-white">

    <div class="grid-col-content__three section__inner">

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Change the rules, save the day.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Contingent labor programs that treat suppliers as untrustworthy
                    enemies ultimately fail.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/400">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/392">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/392" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    Stop calling it “Return to Work.”
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">As many start to “return to work,” the concept itself needs to
                    change.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

        <a href="#" class="content-block--clickable content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/500/200">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h6 class="content-block__title anchor-primary">
                    If your team isn’t learning, they’re falling behind. Fix it.
                </h6>
                <div class="content-block__blog-author-date">
                    <label for="source" class="content-block__author">By Susie Hall</label>
                    <time class="content-block__date-blog" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year" aria-label="June">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text">Our InsideOut Design Leader Community gathered to figure out how
                    to engage employees in crafting learning plans.</p>

                <p class="content-block__blog-text-tag">Career Development, Experience Design, Strategy,
                    Skill Development</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--clickable .content-block--blog -->

    </div><!-- .three-col-content -->
</div>