<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{path '/css/preview.css'}}">
    <link media="all" rel="stylesheet" href="{{path '/css/dist/styles.css'}}"> 
    <title>Preview Layout</title>
</head>

<body>
  <div id="content" class="content center-content">
    <div class="yield">
      {{{ yield }}}
    </div><!-- .yield -->
  </div><!-- #content.content.center-content -->
</body>
</html>