<div class="section--bg-sec-blue">
  <section class="featured">
    <hgroup class="featured__title">
      <h4 class="headline">Featured</h4>
    </hgroup>
    <div class="content-block--featured">
      <div class="content-block__upper">
        <img class="content-block__image" src="{{path '/img/featured_image.jpg'}}" />
      </div><!-- .content-block__upper -->

      <div class="content-block__lower">
        <p class="content-block__subtitle">2021 Salary Guide</p>
        <h4 class="content-block__title">Unprecedented Challenges. Unexpected
          Opportunities.</h4>

        <p class="content-block__text">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor.</p>
        <a href="#" class="button--medium-primary content-block__button">Learn
          More</a>
      </div><!-- .content-block__lower -->
    </div><!-- .content-block--featured -->
  </section>
</div>

<div class="section--bg-sec-blue">
  <section class="featured">
    <hgroup class="featured__title">
      <h4 class="headline">Featured</h4>
    </hgroup>
    <div class="content-block--featured">
      <div class="content-block__upper">
        <img class="content-block__image" src="{{path '/img/featured_image.jpg'}}" />
        <time class="content-block__date" datetime="2021-06-10">
          <span class="content-block__date-month" aria-label="June">Jun</span>
          <span class="content-block__date-day">10</span>
        </time>
      </div><!-- .content-block__upper -->

      <div class="content-block__lower">
        <p class="content-block__subtitle">2021 Salary Guide</p>
        <h4 class="content-block__title">Unprecedented Challenges. Unexpected
          Opportunities.</h4>

        <p class="content-block__text">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor.</p>
        <a href="#" class="button--medium-primary content-block__button">Learn
          More</a>
      </div><!-- .content-block__lower -->
    </div><!-- .content-block--featured -->
  </section>
</div>