<div class="section--bg-white demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>

<div class="section--bg-prim-blue demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>
<div class="section--bg-sec-blue demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>
<div class="section--bg-green demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>