<div class="section--bg-white">

  <div class="why-partner-with-us">
    <h1 class="why-partner-with-us__heading">Why partner with&nbsp;us?</h1>

    <article class="content-block">
      <div class="content-block__lower">
        <h4 class="content-block__title">Dedicated consultants</h4>

        <p class="content-block__text">Our Direct Hire Consultants work only on
          permanent hiring and are dedicated to a limited number of positions at
          once so they can give you the time and attention you need.
        </p>
      </div><!-- .content-block__lower -->
    </article><!-- .content-block--clickable -->

    <article class="content-block">
      <div class="content-block__lower">
        <h4 class="content-block__title">Top-tier talent</h4>

        <p class="content-block__text">Direct Hire Consultants draw from the
          Aquent global talent network to help you reach talent you couldn’t
          access yourself. This includes those superstars who aren’t looking but
          are open to the right opportunity.
        </p>
      </div><!-- .content-block__lower -->
    </article><!-- .content-block--clickable -->

    <article class="content-block">
      <div class="content-block__lower">
        <h4 class="content-block__title">Collaborative partnerships</h4>

        <p class="content-block__text">Consultants deeply understand recruiting
          in marketing, creative, and experience design, adding value at every
          step. Collaborating closely with you, they’ll guide you through the
          process of finding your next great hire.
        </p>
        
      </div><!-- .content-block__lower -->
    </article><!-- .content-block--clickable -->
  </div><!-- why-partner-with-us -->
</div><!-- .section--bg-white -->