<div class="section--bg-white demo-section">

  <article class="content-block">
    <div class="content-block__lower">
      <h4 class="content-block__title">RSVP: This is a featured event that is topical and relevant.</h4>

      <p class="content-block__text">Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Voluptate sit id harum aliquid ea.
      </p>
    </div><!-- .content-block__lower -->
  </article><!-- .content-block--clickable -->
  
</div><!-- .section--bg-white.demo-section -->