

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white demo-section">
 <p>This paragraph contains a
    <a class="" href="#"> paragraph link</a>. It is
    meant to be used in paragraph text and everywhere else where there are no
    indicators that a link is present.</p>
</div>

<div class="section--bg-green demo-section">
 <p>This paragraph contains a
    <a class="" href="#"> paragraph link</a>. It is
    meant to be used in paragraph text and everywhere else where there are no
    indicators that a link is present.</p>
</div>

<div class="section--bg-prim-blue demo-section">
 <p>This paragraph contains a
    <a class="" href="#"> paragraph link</a>. It is
    meant to be used in paragraph text and everywhere else where there are no
    indicators that a link is present.</p>
</div>


  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
