

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="hero-textonly__section section--bg-prim-blue">
  <section class="hero-textonly">
    <div class="hero-textonly__title">
      <h1 class="h1--page-titles headline">Blog</h1>
    </div><!-- .hero-textonly__title -->
  </section>
</div>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
