

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>

<div class="section--bg-prim-blue demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>
<div class="section--bg-sec-blue demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>
<div class="section--bg-green demo-section">
  <div class="group-button demo-col">
    <a class="anchor--primary-link">Primary link</a>
    <a class="anchor--primary">This is a link</a>
  </div>
  <div class="group-button demo-col">
    <a class="anchor--secondary-link">Secondary link</a>
    <a class="anchor--secondary">This is a link</a>
  </div>
  <div>
    <p>Within a paragraph, this is a
      <a class="anchor--primary">link with primary colored underline</a>
      and this is a
      <a class="anchor--secondary">link with secondary colored underline</a></p>
  </div>
</div>
  </div><!-- .yield -->
</body>
</html>
