

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <p class="tertiary-info--large">Tertiary Info 1: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="tertiary-info">Tertiary Info 2: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
<p class="tertiary-info--small">Tertiary Info 3: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
  </div><!-- .yield -->
</body>
</html>
