

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto rerum, provident ducimus iure hic earum excepturi nulla, tempora maiores molestiae ea voluptatibus ipsa, dolore at consectetur neque? Earum, ullam quod.</p>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
