<div class="section--bg-white" style="height: 100px; padding: 2rem;">
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-white-primary-link" >Primary link</a>
        <a class="a--bg-white-primary" >This is a link</a>
    </div>
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-white-secondary-link">Secondary link</a>
        <a class="a--bg-white-secondary">This is a link</a>
    </div>
</div>
<div class="section--bg-prim-blue" style="height: 100px; padding: 2rem;">
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-prim-blue-primary-link">Primary link</a>
        <a class="a--bg-prim-blue-primary">This is a link</a>
    </div>
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-prim-blue-secondary-link">Secondary link</a>
        <a class="a--bg-prim-blue-secondary">This is a link</a>
    </div>
</div>
<div class="section--bg-sec-blue" style="height: 100px; padding: 2rem;">
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-sec-blue-primary-link">Primary link</a>
        <a class="a--bg-sec-blue-primary">This is a link</a>
    </div>
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-sec-blue-secondary-link">Secondary link</a>
        <a class="a--bg-sec-blue-secondary">This is a link</a>
    </div>
</div>
<div class="section--bg-green" style="height: 100px; padding: 2rem;">
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-green-primary-link">Primary link</a>
        <a class="a--bg-green-primary">This is a link</a>
    </div>
    <div class="button-group" style="display: inline-block;width: 300px;">
        <a class="a--bg-green-secondary-link">Secondary link</a>
        <a class="a--bg-green-secondary">This is a link</a>
    </div>
</div>